[Unit]
Description=NZXT case fan control
Documentation=man:liquidctl

[Service]
Type=exec
ExecStart=/usr/local/bin/nzxt-smart-device.py
PrivateTmp=yes
CapabilityBoundingSet=
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateNetwork=yes
NoNewPrivileges=yes
ProtectHostname=yes
ProtectKernelLogs=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
ProtectProc=invisible
Nice=-1

[Install]
WantedBy=multi-user.target